{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    Instagram / Post List
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %} <!-- 장고에서 폼의 메소드가 post 라면 안에 무조건 csrf_token 을 넣어줄것! -->
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색"> 
    </form>

    <a href="{% url 'instagram:post_new' %}" class="btn btn-primary">새 포스팅</a>

    <table class="table table-bordered table-hover">
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{post.pk}}</td>
                <td>{{post.message}}</td>
                <td>
                    {% if post.photo %}
                        <img src="{{post.photo.url}}" style="width:100px; height:100px">
                    {% else %}
                        no photo
                    {% endif %}
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}